html,
body {
  --at-apply: m-0 p-0 overflow-hidden;
}

.app-ctn {
  --at-apply: h-screen overflow-hidden;
}

.all-center {
  --at-apply: flex flex-col items-center justify-center;
}

.v-center {
  --at-apply: flex items-center;
}

.theme-dark {
  --at-apply: bg-[#2D333B] text-[#ADBAC7];
}

.col-ctn {
  --at-apply: flex flex-col overflow-hidden;
  &_body {
    --at-apply: flex-1 overflow-hidden;
  }
}

.row-ctn {
  --at-apply: flex items-stretch overflow-hidden;
  &_body {
    --at-apply: flex-1 overflow-hidden;
  }
}
