@import './base.scss';

.dark-input {
  > .el-input__wrapper {
    border: none;
    border-bottom: 1px solid #999;
    --at-apply: bg-transparent p-0;
    > .el-input__inner {
      --at-apply: bg-[#282C34];
    }
  }
}

.canvas-ctn {
  --at-apply: flex flex-col gap-1 items-start h-screen overflow-hidden p-2 box-border;
  background-color: #292c34;
  color: #a0b2bf;
  > canvas {
    --at-apply: bg-[#ccc] shadow;
  }
}
